* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

header {
    background-color: #8b4513;
}

#formulario {
    font-size: 1.8rem;
    background-color: #DAA520;
    position: relative;
}

#formulario div {
   padding-top: 3rem;
   padding-bottom: 2rem;
}

#formulario div input{
    margin-left: 2rem;
    width: 10rem;
    height: 2rem;
}

#enviar {
    background-color: #bdb76b;
    border-radius: 0.5em;
    font-size: 1rem;
}

footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #8b4513;
    font-size: 1.8rem;
}

footer button{
    background-color: #bdb76b;
    border-radius: 0.5em;
    height: 3rem;
    width: 6rem;
    margin-right: 2rem;
    margin-bottom: 2em;
}
