* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
body {
    text-align: center;
    background-color: #DAA520;
}
header {
    background-color: #8b4513;
}

nav button{
    background-color: #bdb76b;
    border-radius: 0.5em;
    height: 3rem;
    width: 6rem;
    margin-right: 2rem;
    margin-bottom: 2em;
}

figure img {

    width: 28rem;
    height: 28rem;
    border-radius: 1em;
}

figure img:hover {
    width: 30rem;
    height: 30rem;
    transition-duration: 2s;
}

#mapa {
    padding: 1rem;
    background-color: #8b4513;
}