* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

header {
    background-color: #8b4513;
}

header h1 {
    text-align: center;
}

#foto {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #DAA520;
    text-align: center;
}

#foto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
    width: 30em;
    height: 20em;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}

#foto img:hover {
    width: 40rem;
    height: 30rem;
    transition-duration: 1s;
}

#foto p {
    font-size: 1.5rem;
}

.sobre-mim {
    background-color: #d2691e;
    padding: 3rem;
}

#descricao {
    text-align: center;
    padding-bottom: 3rem;
}

#artistas {
    margin-left: 18rem;
    padding: 3rem;
}
#artistas img {
    float: left;
    width: 34rem;
    height: 15rem;
    border-radius: 1em;
}

#artistas img:hover {
    width: 36rem;
    height: 17rem;
    transition-duration: 1s;
}

#hobbies {
    position: relative;
    margin-top: 2rem;
    margin-left: 20rem;
    padding: 6rem;
}

#hobbies img {
    float: right;
    width: 30rem;
    height: 15rem;
    border-radius: 1em;
}

#hobbies img:hover {
    width: 32rem;
    height: 17rem;
    transition-duration: 1s;
}

footer {
    text-align: center;
    background-color: #8b4513;
    font-size: 1.8rem;
}

footer button{
    background-color: #bdb76b;
    border-radius: 0.5em;
    height: 3rem;
    width: 6rem;
    margin-right: 2rem;
    margin-bottom: 2em;
}

